.container {
  display: flex;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-grow: 1;
}

.main {
  background-color: #f3f4f6;
  flex-grow: 1;
  padding: 50px;
}
